Makefile
build-stamp
configure-stamp
debian/files
debian/tmp/
objdir-*/
*moc_*.cpp
*.moc
*.o
*.list
/RPMS/
moc/
/lib/pkgconfig/
/lib/libamberwebauthorization.prl
/doc/html/
/doc/amber-web-authorization.qch
/import/amber_web_authorization.ts
/import/amber_web_authorization_eng_en.qm
/examples/amberwebauthcppexample/amberwebauthcppexample
libamberwebauthorization.so*
libamberwebauthorizationplugin.so*
